$header-link-boder-color: #4d769f;

body.gigs {
  ul#gigs {
    margin-right: 40px;
    position: relative;
    
    li {
      border-bottom: 1px solid #efede5;
      
      &:last-child { border-bottom: none; }
      
      &.gig {
        h2 {
          a {
            text-decoration: none;
            border-bottom: 1px solid $header-link-boder-color;
          }
        }
      }
    }
  }
}