$header-link-boder-color: #4d769f;

body.gigs {
  ul#gigs {
    margin-right: 40px;
    position: relative;
    
    li {
      border-bottom: 1px solid #efede5;
      
      &:last-child { border-bottom: none; }
      
      &.gig {
        h2 {
          a {
            text-decoration: none;
            border-bottom: 1px solid $header-link-boder-color;
          }
        }
      }
    }
  }
  
  ol.gig_songs {
    list-style: decimal;
    line-height: 1.7;
    font-size: 1.333em;
    margin-bottom: 1.5em;
  }
}

ul.gig {
  font-size: 1.333em;
  position: relative;
  margin-right: 40px;
  line-height: 1.9;
  margin-bottom: 0.75em;
  
  li {
    padding-left: 1px;
    
    .label {
      font-weight: bold;
      display: inline-block;
      margin-right: 0.4166em;
      color: #999;
    }
  }
}