$font-color:     #231F20 !default;
$quiet-color:    lighten($font-color, 20%) !default;
$loud-color:     darken($font-color, 13.33%) !default;
$header-color:   darken($font-color, 6.67%) !default;
$background-color: #fcfcfc !default;

$link-color:         #4d769f                  !default;
$link-hover-color:   white                  !default;
$link-hover-background-color: $link-color   !default;
$link-focus-color:   $link-hover-color     !default;
$link-active-color:  lighten(adjust-hue($link-color, 75deg), 10%) !default;
$link-visited-color: darken($link-color, 10%) !default;

html {
  background-color: $background-color;
  color: $font-color;
}

body {
  font-size: 12px;
  font-family: "Lucida Grande", Geneva, Arial, Verdana, sans-serif;
}

a {
  padding: 1px;
  text-decoration: underline;
  
  &:link {
    color: $link-color;  
  }
  
  &:visited {
    color: $link-visited-color;
  }
  
  &:hover {
    color: $link-hover-color;
    background-color: $link-hover-background-color;
    text-decoration: none !important;
  }
}

p {
  font-size: 1.1666em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

h1 {
  font-size: 2em; /* 24px */
  line-height: 1.5em; /* 36px */
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 0.857em;
  margin-bottom: 0.428em;
  font-weight: bold;
}

h4 {
  font-size: 1.5em; /* 18px */
  line-height: 1em; /* 18px */
  margin-top: 1em;
  margin-bottom: 0em;
}

h5 {
  font-size: 1.3333em; /* 16px */
  line-height: 1.125em; /* 18px */
  margin-top: 1.125em;
  margin-bottom: 0em;
}

h6 {
  font-size: 1.1667em; /* 14px */
  line-height: 1.2857em; /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font: 14px Monaco, 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace
}

code {
  background-color: #d9eaeb;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #eee;
  text-shadow: 0 1px 0 white;
}