<% title t(:title, scope: [:gigs, :index]) %>

<h1><%= t(:title, scope: [:gigs, :index]) %></h1>

<ul id="gigs">
  <%= render @gigs %>
</ul>

<%= link_to t(:new_gig, scope: [:gigs, :index]), new_gig_path %>
